<a href="https://colab.research.google.com/github/matheusvazdata/aed-ada-santander/blob/main/An%C3%A1lise_Explorat%C3%B3ria_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Conhecendo os Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/matheusvazdata/aed-ada-santander/refs/heads/main/dados/cuisine_rating.csv')
df.head()

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         200 non-null    int64
 1   Area code       200 non-null    int64
 2   Location        200 non-null    object
 3   Gender          200 non-null    object
 4   YOB             200 non-null    int64
 5   Marital Status  200 non-null    object
 6   Activity        200 non-null    object
 7   Budget          200 non-null    int64
 8   Cuisines        200 non-null    object
 9   Alcohol         200 non-null    object
 10  Smoker          200 non-null    object
 11  Food Rating     200 non-null    int64
 12  Service Rating  200 non-null    int64
 13  Overall Rating  200 non-null    float64
 14  Often A S       200 non-null    object
dtypes: float64(1), int64(6), object(8)
memory usage: 23.6+ KB

In [4]:
df['Cuisines'].value_counts() # Conta a frequência que aparece cada culinária

Cuisines
Japanese    36
Filipino    34
French      34
Indian      32
Chinese     24
Seafood     22
Italian     18
Name: count, dtype: int64

In [5]:
df[df['Cuisines'] == 'Japanese']

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
17,18,153,"Upper East Side,NY",Male,2004,Single,Student,3,Japanese,Often,Often,1,5,3.0,Yes
25,26,123,"St. George,NY",Male,1969,Single,Professional,3,Japanese,Never,Socially,4,3,3.5,No
34,35,129,"Central Park,NY",Male,2001,Divorced,Student,1,Japanese,Socially,Often,5,5,5.0,No
35,36,107,"Riverdale,NY",Male,1998,Single,Professional,5,Japanese,Never,Socially,1,3,2.0,No
36,37,154,"Market City, NY",Male,2006,Single,Student,4,Japanese,Often,Often,5,2,3.5,Yes
42,43,123,"St. George,NY",Male,1985,Married,Student,5,Japanese,Never,Never,3,1,2.0,No
49,50,107,"Riverdale,NY",Female,1974,Married,Student,5,Japanese,Socially,Socially,2,5,3.5,No
50,51,107,"Riverdale,NY",Female,2007,Single,Student,4,Japanese,Often,Often,5,5,5.0,Yes
58,59,123,"St. George,NY",Male,1964,Single,Student,5,Japanese,Never,Socially,4,2,3.0,No
60,61,129,"Central Park,NY",Female,2003,Single,Student,4,Japanese,Never,Never,4,3,3.5,No
61,62,122,"Upper West Side,NY",Female,1955,Divorced,Professional,4,Japanese,Never,Often,5,5,5.0,No
62,63,123,"St. George,NY",Male,2002,Single,Student,4,Japanese,Never,Often,5,5,5.0,No
70,71,154,"Market City, NY",Male,1957,Married,Student,5,Japanese,Socially,Often,4,4,4.0,No
83,84,154,"Market City, NY",Male,1981,Married,Student,5,Japanese,Socially,Often,5,4,4.5,No
85,86,107,"Riverdale,NY",Male,1999,Single,Student,4,Japanese,Often,Often,4,1,2.5,Yes
97,98,123,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
100,101,117,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Socially,4,4,4.0,No
103,104,121,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
117,118,195,"Upper East Side,NY",Male,2004,Single,Student,3,Japanese,Often,Often,2,5,3.5,Yes
125,126,127,"St. George,NY",Male,1969,Single,Professional,3,Japanese,Never,Socially,4,3,3.5,No
134,135,172,"Central Park,NY",Male,2001,Divorced,Student,1,Japanese,Socially,Often,4,5,4.5,No
135,136,176,"Riverdale,NY",Male,1998,Single,Professional,5,Japanese,Never,Socially,2,3,2.5,No
136,137,110,"Market City, NY",Male,2006,Single,Student,4,Japanese,Often,Often,4,2,3.0,Yes
142,143,173,"St. George,NY",Male,1985,Married,Student,5,Japanese,Never,Never,3,1,2.0,No
149,150,157,"Riverdale,NY",Female,1974,Married,Student,5,Japanese,Socially,Socially,2,5,3.5,No
150,151,185,"Riverdale,NY",Female,2007,Single,Student,4,Japanese,Often,Often,5,5,5.0,Yes
158,159,175,"St. George,NY",Male,1964,Single,Student,5,Japanese,Never,Socially,4,2,3.0,No
160,161,124,"Central Park,NY",Female,2003,Single,Student,4,Japanese,Never,Never,4,3,3.5,No
161,162,125,"Upper West Side,NY",Female,1955,Divorced,Professional,4,Japanese,Never,Often,5,5,5.0,No
162,163,158,"St. George,NY",Male,2002,Single,Student,4,Japanese,Never,Often,5,5,5.0,No
170,171,176,"Market City, NY",Male,1957,Married,Student,5,Japanese,Socially,Often,4,4,4.0,No
183,184,166,"Market City, NY",Male,1981,Married,Student,5,Japanese,Socially,Often,5,4,4.5,No
185,186,136,"Riverdale,NY",Male,1999,Single,Student,4,Japanese,Often,Often,4,1,2.5,Yes
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No

In [6]:
df[df['Cuisines'] == 'Japanese']['Overall Rating'].mean()

3.5972222222222223

## Fazendo agrupamentos

In [7]:
df.describe()

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,141.060000,1984.830000,3.815000,3.220000,3.230000,3.225000
std,57.879185,26.130257,16.809339,1.056578,1.411226,1.526022,1.079445
min,1.000000,101.000000,1955.000000,1.000000,1.000000,1.000000,1.000000
25%,50.750000,123.000000,1971.000000,3.000000,2.000000,2.000000,2.500000
50%,100.500000,135.000000,1987.000000,4.000000,3.000000,3.000000,3.000000
75%,150.250000,158.000000,2000.000000,5.000000,5.000000,5.000000,4.000000
max,200.000000,199.000000,2009.000000,5.000000,5.000000,5.000000,5.000000

### Pergunta de negócio: qual a culinária mais bem avaliada na região do Central Park, NY?

In [8]:
df.Location.value_counts()

Location
St. George,NY         46
Upper East Side,NY    30
Riverdale,NY          28
Central Park,NY       24
China Town, NY        22
Market City, NY       20
Upper West Side,NY    18
Central Park,ny        8
Market City, MY        2
Cedar Hill, NY         2
Name: count, dtype: int64

In [11]:
numeric_cols = df.select_dtypes(include=np.number).columns.to_list()
numeric_cols

['User ID',
 'Area code',
 'YOB',
 'Budget',
 'Food Rating',
 'Service Rating',
 'Overall Rating']

In [12]:
df[numeric_cols]

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
0,1,153,2006,3,5,4,4.5
1,2,123,1991,3,1,1,1.0
2,3,122,1977,5,5,5,5.0
3,4,153,1956,5,3,1,2.0
4,5,129,1997,4,2,4,3.0
...,...,...,...,...,...,...,...
195,196,175,1982,4,1,2,1.5
196,197,170,2000,4,1,2,1.5
197,198,160,2006,5,5,2,3.5
198,199,130,2002,3,3,2,2.5
199,200,140,2005,4,3,2,2.5

In [13]:
df.groupby(['Location'])[numeric_cols].mean()

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
Location,,,,,,,
"Cedar Hill, NY",141.000000,169.500000,1960.000000,4.000000,2.000000,5.000000,3.500000
"Central Park,NY",91.000000,142.583333,1994.583333,3.333333,3.416667,3.458333,3.437500
"Central Park,ny",91.000000,138.500000,1977.500000,3.500000,3.125000,4.250000,3.687500
"China Town, NY",106.181818,132.500000,1983.818182,3.454545,2.681818,3.636364,3.159091
"Market City, MY",82.000000,156.500000,1971.000000,1.000000,4.000000,2.000000,3.000000
"Market City, NY",104.200000,155.500000,1977.900000,3.900000,4.050000,3.400000,3.725000
"Riverdale,NY",94.071429,127.821429,1983.714286,4.285714,3.035714,3.071429,3.053571
"St. George,NY",105.086957,137.956522,1986.434783,3.978261,3.413043,2.826087,3.119565
"Upper East Side,NY",96.400000,155.200000,1985.533333,3.866667,2.966667,3.066667,3.016667
"Upper West Side,NY",109.000000,134.666667,1984.777778,4.000000,3.000000,3.277778,3.138889

In [14]:
df.groupby(['Location', 'Cuisines'])[numeric_cols].mean()

                                User ID   Area code          YOB    Budget  \
Location           Cuisines
Cedar Hill, NY     Indian    141.000000  169.500000  1960.000000  4.000000
Central Park,NY    Chinese    60.000000  129.000000  1995.000000  4.000000
                   Filipino   83.666667  144.166667  1990.666667  3.333333
                   French    116.000000  144.750000  2003.500000  4.000000
                   Indian     77.000000  131.500000  2001.000000  3.000000
                   Italian   115.000000  152.500000  1996.000000  4.000000
                   Japanese   98.000000  138.500000  2002.000000  2.500000
                   Seafood    80.500000  149.500000  1980.000000  3.000000
Central Park,ny    Filipino  108.000000  162.500000  1962.000000  3.000000
                   French     97.000000  117.500000  1976.000000  3.000000
                   Indian     79.500000  137.000000  1986.000000  4.000000
China Town, NY     Chinese    96.000000  106.500000  1976.000000  3.000000
                   Filipino  130.000000  125.000000  1998.000000  1.000000
                   French    130.500000  149.000000  1965.000000  3.500000
                   Indian     93.333333  129.333333  1983.666667  4.333333
                   Seafood   100.250000  135.000000  1991.750000  3.500000
Market City, MY    Indian     82.000000  156.500000  1971.000000  1.000000
Market City, NY    Filipino   92.000000  158.000000  1967.000000  5.000000
                   French    105.000000  156.250000  1975.500000  4.000000
                   Indian    122.000000  169.000000  1977.500000  3.000000
                   Japanese  114.000000  152.333333  1981.333333  4.666667
                   Seafood    77.000000  144.750000  1981.000000  3.000000
Riverdale,NY       Chinese    77.000000  121.000000  1985.000000  4.500000
                   Filipino  104.666667  116.666667  1966.333333  4.333333
                   French    116.000000  150.500000  1975.000000  4.000000
                   Italian    81.000000  124.333333  1981.000000  3.666667
                   Japanese  105.750000  135.250000  1994.500000  4.500000
                   Seafood    67.000000  133.000000  2007.000000  5.000000
St. George,NY      Chinese    62.500000  124.000000  1984.500000  4.500000
                   Filipino  121.166667  136.083333  1991.000000  4.000000
                   French    109.500000  127.875000  1986.750000  4.500000
                   Indian     96.500000  145.625000  1987.500000  3.375000
                   Italian   101.000000  155.250000  1975.000000  2.500000
                   Japanese  107.800000  140.800000  1985.200000  4.400000
Upper East Side,NY Chinese   120.000000  159.400000  1980.000000  4.000000
                   Filipino   58.000000  159.500000  2003.000000  3.000000
                   French    101.666667  145.833333  1982.666667  3.666667
                   Indian    124.000000  172.500000  1994.000000  3.000000
                   Italian    93.000000  157.750000  1986.000000  5.000000
                   Japanese   57.666667  148.666667  1988.666667  3.666667
Upper West Side,NY Chinese   147.000000  146.000000  2000.000000  4.000000
                   Filipino  106.000000  145.500000  1991.000000  4.000000
                   French    136.000000  140.000000  1999.500000  4.000000
                   Indian     83.000000  141.500000  1995.000000  3.000000
                   Italian   110.000000  128.500000  1959.000000  5.000000
                   Japanese  112.000000  123.500000  1955.000000  4.000000
                   Seafood    75.500000  123.500000  1982.000000  4.000000

                             Food Rating  Service Rating  Overall Rating
Location           Cuisines
Cedar Hill, NY     Indian       2.000000        5.000000        3.500000
Central Park,NY    Chinese      4.500000        2.500000        3.500000
                   Filipino     2.333333        4.666667        3.500000
                   French       4.500000        3.000000        3.750000
                   Indian       2.000000        3.000000        2.500000
                   Italian      5.000000        5.000000        5.000000
                   Japanese     4.250000        4.000000        4.125000
                   Seafood      2.500000        1.500000        2.000000
Central Park,ny    Filipino     3.000000        4.000000        3.500000
                   French       5.000000        3.000000        4.000000
                   Indian       2.250000        5.000000        3.625000
China Town, NY     Chinese      2.000000        5.000000        3.500000
                   Filipino     1.000000        5.000000        3.000000
                   French       3.000000        2.000000        2.500000
                   Indian       2.333333        4.666667        3.500000
                   Seafood      3.375000        3.000000        3.187500
Market City, MY    Indian       4.000000        2.000000        3.000000
Market City, NY    Filipino     5.000000        5.000000        5.000000
                   French       3.000000        2.500000        2.750000
                   Indian       3.500000        2.500000        3.000000
                   Japanese     4.500000        3.333333        3.916667
                   Seafood      4.500000        4.500000        4.500000
Riverdale,NY       Chinese      3.500000        2.000000        2.750000
                   Filipino     2.500000        2.833333        2.666667
                   French       2.000000        5.000000        3.500000
                   Italian      3.666667        3.500000        3.583333
                   Japanese     3.125000        3.500000        3.312500
                   Seafood      2.500000        1.000000        1.750000
St. George,NY      Chinese      4.000000        2.750000        3.375000
                   Filipino     2.500000        3.000000        2.750000
                   French       3.000000        2.875000        2.937500
                   Indian       3.375000        2.750000        3.062500
                   Italian      4.500000        3.000000        3.750000
                   Japanese     4.200000        2.600000        3.400000
Upper East Side,NY Chinese      3.800000        3.600000        3.700000
                   Filipino     4.500000        2.000000        3.250000
                   French       3.000000        2.000000        2.500000
                   Indian       1.000000        5.000000        3.000000
                   Italian      1.000000        2.500000        1.750000
                   Japanese     3.000000        3.333333        3.166667
Upper West Side,NY Chinese      1.000000        2.000000        1.500000
                   Filipino     3.000000        1.000000        2.000000
                   French       3.500000        4.500000        4.000000
                   Indian       3.500000        2.000000        2.750000
                   Italian      2.000000        2.000000        2.000000
                   Japanese     5.000000        5.000000        5.000000
                   Seafood      2.750000        4.250000        3.500000

In [15]:
df.Location = df.Location.replace('Central Park,ny', 'Central Park,NY')
df.groupby(['Location', 'Cuisines'])[numeric_cols].mean()

                                User ID   Area code          YOB    Budget  \
Location           Cuisines
Cedar Hill, NY     Indian    141.000000  169.500000  1960.000000  4.000000
Central Park,NY    Chinese    60.000000  129.000000  1995.000000  4.000000
                   Filipino   89.750000  148.750000  1983.500000  3.250000
                   French    109.666667  135.666667  1994.333333  3.666667
                   Indian     78.666667  135.166667  1991.000000  3.666667
                   Italian   115.000000  152.500000  1996.000000  4.000000
                   Japanese   98.000000  138.500000  2002.000000  2.500000
                   Seafood    80.500000  149.500000  1980.000000  3.000000
China Town, NY     Chinese    96.000000  106.500000  1976.000000  3.000000
                   Filipino  130.000000  125.000000  1998.000000  1.000000
                   French    130.500000  149.000000  1965.000000  3.500000
                   Indian     93.333333  129.333333  1983.666667  4.333333
                   Seafood   100.250000  135.000000  1991.750000  3.500000
Market City, MY    Indian     82.000000  156.500000  1971.000000  1.000000
Market City, NY    Filipino   92.000000  158.000000  1967.000000  5.000000
                   French    105.000000  156.250000  1975.500000  4.000000
                   Indian    122.000000  169.000000  1977.500000  3.000000
                   Japanese  114.000000  152.333333  1981.333333  4.666667
                   Seafood    77.000000  144.750000  1981.000000  3.000000
Riverdale,NY       Chinese    77.000000  121.000000  1985.000000  4.500000
                   Filipino  104.666667  116.666667  1966.333333  4.333333
                   French    116.000000  150.500000  1975.000000  4.000000
                   Italian    81.000000  124.333333  1981.000000  3.666667
                   Japanese  105.750000  135.250000  1994.500000  4.500000
                   Seafood    67.000000  133.000000  2007.000000  5.000000
St. George,NY      Chinese    62.500000  124.000000  1984.500000  4.500000
                   Filipino  121.166667  136.083333  1991.000000  4.000000
                   French    109.500000  127.875000  1986.750000  4.500000
                   Indian     96.500000  145.625000  1987.500000  3.375000
                   Italian   101.000000  155.250000  1975.000000  2.500000
                   Japanese  107.800000  140.800000  1985.200000  4.400000
Upper East Side,NY Chinese   120.000000  159.400000  1980.000000  4.000000
                   Filipino   58.000000  159.500000  2003.000000  3.000000
                   French    101.666667  145.833333  1982.666667  3.666667
                   Indian    124.000000  172.500000  1994.000000  3.000000
                   Italian    93.000000  157.750000  1986.000000  5.000000
                   Japanese   57.666667  148.666667  1988.666667  3.666667
Upper West Side,NY Chinese   147.000000  146.000000  2000.000000  4.000000
                   Filipino  106.000000  145.500000  1991.000000  4.000000
                   French    136.000000  140.000000  1999.500000  4.000000
                   Indian     83.000000  141.500000  1995.000000  3.000000
                   Italian   110.000000  128.500000  1959.000000  5.000000
                   Japanese  112.000000  123.500000  1955.000000  4.000000
                   Seafood    75.500000  123.500000  1982.000000  4.000000

                             Food Rating  Service Rating  Overall Rating
Location           Cuisines
Cedar Hill, NY     Indian       2.000000        5.000000        3.500000
Central Park,NY    Chinese      4.500000        2.500000        3.500000
                   Filipino     2.500000        4.500000        3.500000
                   French       4.666667        3.000000        3.833333
                   Indian       2.166667        4.333333        3.250000
                   Italian      5.000000        5.000000        5.000000
                   Japanese     4.250000        4.000000        4.125000
                   Seafood      2.500000        1.500000        2.000000
China Town, NY     Chinese      2.000000        5.000000        3.500000
                   Filipino     1.000000        5.000000        3.000000
                   French       3.000000        2.000000        2.500000
                   Indian       2.333333        4.666667        3.500000
                   Seafood      3.375000        3.000000        3.187500
Market City, MY    Indian       4.000000        2.000000        3.000000
Market City, NY    Filipino     5.000000        5.000000        5.000000
                   French       3.000000        2.500000        2.750000
                   Indian       3.500000        2.500000        3.000000
                   Japanese     4.500000        3.333333        3.916667
                   Seafood      4.500000        4.500000        4.500000
Riverdale,NY       Chinese      3.500000        2.000000        2.750000
                   Filipino     2.500000        2.833333        2.666667
                   French       2.000000        5.000000        3.500000
                   Italian      3.666667        3.500000        3.583333
                   Japanese     3.125000        3.500000        3.312500
                   Seafood      2.500000        1.000000        1.750000
St. George,NY      Chinese      4.000000        2.750000        3.375000
                   Filipino     2.500000        3.000000        2.750000
                   French       3.000000        2.875000        2.937500
                   Indian       3.375000        2.750000        3.062500
                   Italian      4.500000        3.000000        3.750000
                   Japanese     4.200000        2.600000        3.400000
Upper East Side,NY Chinese      3.800000        3.600000        3.700000
                   Filipino     4.500000        2.000000        3.250000
                   French       3.000000        2.000000        2.500000
                   Indian       1.000000        5.000000        3.000000
                   Italian      1.000000        2.500000        1.750000
                   Japanese     3.000000        3.333333        3.166667
Upper West Side,NY Chinese      1.000000        2.000000        1.500000
                   Filipino     3.000000        1.000000        2.000000
                   French       3.500000        4.500000        4.000000
                   Indian       3.500000        2.000000        2.750000
                   Italian      2.000000        2.000000        2.000000
                   Japanese     5.000000        5.000000        5.000000
                   Seafood      2.750000        4.250000        3.500000

In [16]:
df.Location.value_counts()

Location
St. George,NY         46
Central Park,NY       32
Upper East Side,NY    30
Riverdale,NY          28
China Town, NY        22
Market City, NY       20
Upper West Side,NY    18
Market City, MY        2
Cedar Hill, NY         2
Name: count, dtype: int64

In [19]:
df[df['Location'] == 'Central Park,NY'].Cuisines.value_counts()

Cuisines
Filipino    8
Indian      6
French      6
Seafood     4
Japanese    4
Chinese     2
Italian     2
Name: count, dtype: int64